@charset "UTF-8";
#btn_toggle, #btn_toggle2, #btn_toggle3 {
	font-size: 10px;
	padding: 10px 15px;
	border: 1px solid #ddd;
	background-color: #0a76b7;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}

#Toggle, #Toggle2, #Toggle3 {
	font-size: 14px;
	color: #666;
	display: none;
}
.main{
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 3%;
}
.main2{
	margin-left:10%;
	margin-right:10%;
	margin-top: 2%;
}
#mainText{
	border: 2px solid;
	border-color: gold;
	background-color: lemon;
	border-radius: 50pt;
	padding-bottom: 1%;
	align: center;
	text-align: center;
	
}
.mainList{
	border-top: 1px solid;
	margin-top: 1%;
	padding-top: 1%;
}
#mainList2{
	border-top: 1px solid;
	margin-top: 1%;
	padding-top: 1%;
	border-bottom: 1px solid;
	padding-bottom: 1%;
}
 #download{
 	text-align: right;
	margin-left:10%;
	margin-right:10%;

} 
h4 {
  	text-decoration-line: none;
	margin-left:30%;
	display:inline-block;
}
.search-top-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 120px;
   background: #FAFAD2;
   opacity: 0.7;
   margin-top:70pt;
}
#stt {
   font-size: 30pt !important;
   font-weight: bolder !important;
   opacity: 1 !important;
}
#month{
font-size: 24pt;
font-weight: bold;
}
#price{
font-size: 36pt;
font-weight: bold;
}
#petDes{
font-size: 18pt;
font-weight: bold;
}
#petDes1{
font-size: 17pt;
font-weight: bold;
color: blue;
}
#bs{
background-color: navy;
}
#linktag{
margin-left: 10%;
}
#rcmd{
font-size: 14pt;
}
.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    background: #FAFAD2;
    margin-top: 10%;
}
.footer-top {
    padding: 43px 0 75px;
}
.container {
    margin: auto;
    max-width: 1200px;
    padding: 0;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    position: relative;
}
@media (min-width: 1264px)
.container {
    max-width: 1185px;
}
.footer-col:first-child {
    max-width: 524px;
}
.footer-info {
    margin: 0 -8px;
}
.footer-link {
    margin: 0 -8px;
}
.footer-link li {
    float: left;
    padding: 0 2px;
}
*, :after, :before {
    box-sizing: inherit!important;
}
.footer-link:after {
    content: "";
    display: block;
    clear: both;
}
@media(max-width:1075px){
   .search-top-container{
      display:none;
   }
   .footer{
      display:none;
   }
   .main{
   margin-top: 150px;
   }
}